<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="visite_system.demo.Mapper.VIP_AppointmentMapper">


    <select id="queryVipAppointmentByUserId" resultType="visite_system.demo.Pojo.VipExamineInfo">
        SELECT e.*,a.carnum,a.company,a.appoint_time,a.visite_employee_id,a.visite_dept_id FROM `vip_examine` e
        JOIN vip_appointment a
        ON e.appointment_id=a.id
        WHERE a.visite_employee_id=#{id}
    </select>
    <select id="queryMyExamineByDeptId" resultType="visite_system.demo.Pojo.VipExamineInfo">
        select e.*,a.carnum,a.company,a.appoint_time,a.visite_employee_id,a.visite_dept_id FROM vip_examine e
        JOIN vip_appointment a
        on e.appointment_id=a.id
        JOIN `user` u
        ON u.id=a.visite_employee_id
        WHERE u.dept_id=#{deptId}
    </select>
    <select id="queryAllExamin" resultType="visite_system.demo.Pojo.VipExamineInfo">
        select e.*,a.carnum,a.company,a.appoint_time,a.visite_employee_id,a.visite_dept_id FROM vip_examine e
        JOIN vip_appointment a
        on e.appointment_id=a.id
    </select>
    <select id="queryVisitMe" resultType="visite_system.demo.Pojo.VipExamineInfo">
        select e.*,a.carnum,a.company,a.appoint_time,a.visite_employee_id,a.visite_dept_id FROM vip_examine e
        JOIN vip_appointment a
        on e.appointment_id=a.id
        where a.visite_employee_id=#{id}
        and e.code is not null
        and e.isgo is null
    </select>
</mapper>